*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F9F7FE;
    font-family: "Roboto", sans-serif;
}
.container{
    max-width: 45%;
    margin: 100px auto;
    align-items: center;
    padding: 20px 30px;
    border-radius: 15px;
    background-color: #FFFFFF;
    box-shadow: 20px 30px 20px rgba(65, 50, 100, 0.08);
}
header{
    border-bottom: 1px solid #F9F7FE;
}
form{
    display: flex;
}
input{
    font-family: Arial, Helvetica, sans-serif;
}
#city-input{
    width: 80%;
    border: none;
    border-radius: 8px;
    padding: 15px;
    background-color: #F9F7FE;
}
#city-input:active{
    background-color: #E8F0FE;
}
#search-btn{
    padding: 15px 20px;
    border: none;
    color: #FFFFFF;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 400;
    background-color: #885DF1;
    box-shadow: 1px 0px 1px #885DF1;

}
main{
    display: flex;
    padding: 50px 0px;
    justify-content: space-between;
}
h1{
    margin: 0;
    font-size: 38px;
    line-height: 48px;
    padding-bottom: 5px;
}
main p{
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: #27214266;
}
strong{
    color: #f65282;
    font-weight: 700;
}
footer{
    font-size: 14px;
    padding: 20px 0px;
    text-align: center;
}
footer p{
    font-weight: 400;
    font-size: 14px;
    color: #0009;
}
footer a{
    color: #885df1;
    font-size: 14px;
    font-weight: 400;
}
.temp-wrapper{
    display: flex;
}
#temp{
    font-size: 88px;
    font-weight: bold;
}
#icon{
    font-size: 44px;
    align-self: center;
}
#unit{
    margin-top: 15px;
    font-size: 28px;
}
.forecast-data{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px 0px;
    margin-top: 10px 0px;
    justify-content: space-around;
}
.day{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
}
#day-name{
    color: #27214266;
    font-size: 16px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}
/* #f-icon{
    font-size: 44px;
}  */
#f-icon img{
    width: 50px;
}
#max{
    color: #f65282;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 700;
}
#min{
    color: #f65282;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
}
#forecast{
    display: flex;
    column-gap: 10px;
}
@media (max-width: 900px)
{
    .container{
        max-width: 90%;
    }
    main{
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }
    h1{
        text-align: center;
    }
    .forecast-data{
        flex-direction: column;
    }
}